<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <section id="js-layout-container" class="el-container is-vertical">
      <header class="el-header">
        <div class="el-header__title">
          One Night Werewolf
        </div>
      </header>
      <main class="el-main">
        <%= yield %>
      </main>
      <div class="js-layout-footer"></div>
    </section>
    <%= javascript_pack_tag 'layout' %>
  </body>
</html>
